.btn{
    padding: 15px 45px;
    border-radius: 30px;
    border: none;
    background-color: $main-color;
    font-size: 17px;
    font-family: "Georgia";
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

@media (max-width: 576px){
    .btn{
        font-size: 12px;
        padding: 15px 36px;
    }
}