.footer{
    min-height: calc(360px - 140px);
    background: url('../images/footer/footer_bg.jpg') center (center/cover) no-repeat;
    position: relative;
    overflow: hidden;
    padding: 70px 0px;
    &::after{
        content: '';
        display: block;
        position: absolute;
        bottom: -20px;
        right: 200px;
        width: 282px;
        height: 308px;
        background: url('../images/footer/dog.png');
    }
    &__wrapper{
        display: flex;
    }
    .questions{
        max-width: 270px;
        &__title{
            font-size: 35px;
            color: #fff;
            line-height: 1.2;
        }
        &__field{
            display: block;
            font-family: 'Arial', sans-serif;
            font-size: 20px;
            color: $main-color;
            margin-top: 40px;
            line-height: 1.2;

        }
        .email{
            padding-left:  50px;
            position: relative;
            &::after{
                content: '';
                display: block;
                width: 40px;
                height: 26px;
                background: url('../images/footer/email.svg');
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
            }
        }
        .phone{
            padding: 5px 0px 0px 50px;
            position: relative;
            &::after{
                content: '';
                display: block;
                width: 40px;
                height: 35px;
                background: url('../images/footer/phone.svg');
                position: absolute;
                top: 0;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .location{
        max-width: 270px;
        &__title{
            font-size: 35px;
            color: #fff;
            line-height: 1.2;
        }
        &__field{
            display: block;
            font-family: 'Arial', sans-serif;
            font-size: 20px;
            color: $main-color;
            margin-top: 35px;
            position: relative;
            padding-left: 35px;
            &::after{
                content: '';
                display: block;
                width: 25px;
                height: 35px;
                background: url('../images/footer/pin.svg');
                position: absolute;
                top: 0;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &__questions{
        margin-right: 170px;
    }
}