.hamburger{
    position: fixed;
    height: 40px;
    right: 16px;
    top: 20px;
    display: none;
    .hamburger-btn{
        display: flex;
        width: 30px;
        height: 10px;
        position: relative;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        &__burger,
        &__burger::before,
        &__burger::after{
            width: 30px;
            height: 5px;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 2px 5px var(--box-shadow-color);
            transition: all 0.5s ease-in-out;
        }
            
        &__burger::before,
        &__burger::after {
            content: "";
            position: absolute;
        }
        &__burger::before {
            transform: translateY(-10px);
        }
        &__burger::after {
            transform: translateY(10px);
        }
        .open{
            transform: translateX(-50px);
            background-color: transparent;
            box-shadow: none;
            &::before {
                transform: rotate(45deg) translate(35px, -35px);
                background-color: $main-color;

            }
            
            &::after {
                transform: rotate(-45deg) translate(35px, 35px);
                background-color: $main-color;

            }
        }
    }
}


@media (max-width: 768px){
    .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 20;
    }
    .mobile-menu{
        width: 100%;
        right: 0;
        height: 100%;
        background-color: #fff;
        transition: .5s all;
        padding-left: 15px;
        z-index: 20;
        ul{
            flex-direction: column;
            padding-top: 40px;
            text-align: center;
            li{
                margin-bottom: 35px;
                &::after{
                    display: none;
                }
                a{
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 576px){
    .mobile-menu{
        ul{
            padding-top: 60px;
            li{
                a{
                    font-size: 30px;
                }
            }
        }
    }
}

