.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &__logo{
        a{
            font-size: 32px;
            color: $main-color;
            text-decoration: none;
        }
        span{
            display: block;
            color: #f6f5f5;
            font-size: 13px;
            font-family: 'Arial';
            line-height: 2.231;
            letter-spacing: 1.15px;
        } 
    }
    &__navigation{
        transition: .3s right;
    }
    &__links{
        display: flex;
        position: relative;
    }
    &__link{
        margin-right: 40px;
        position: relative;
        &:last-child{
            margin-right: 0px;
        }
        &:after{
            content: '';
            display: block;
            width: 0px;
            height: 3px;
            background-color: $main-color;
            border-radius: 6px;
            position: absolute;
            left: 0;
            bottom: -7px;
            transition: .5s all;
        }
        &:hover{
            &:after{
                width: 100%;
            }
        }
        a{
            color: #fff;
            font-size: 15px;
            font-family: "Arial";
            text-decoration: none;
        } 
    }
}

@media (max-width: 768px){
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 30;
        padding-top: 20px;
        justify-content: space-between;
        padding-left: 20px;
        background-color: $main-color;
        &__logo{
            a{
                color: #fff;
            }
        }
        &__navigation{
            position: fixed;
            top: 0;
            right: -200%;
            padding-top: 30px;
            flex-direction: column;
            align-items: flex-start;
            height: 100vh;           
        }
        &__link{
            margin-right: 0px;
            a{
                color: $main-color;
            }  
        }
    }
}


@media (max-width: 321px){

}
