.help{
    min-height: calc(590px - 150px);
    padding: 75px 0px 20px 0px;
    &__title{
        margin-top: 0px;
        max-width: 315px;
    }
    &__wrapper{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .assistance{
        width: 150px;
        padding: 0px 25px;
        text-align: center;
        margin-top: 75px;
        &__img{
            width: 50px;
            height: 50px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        &__title{
            margin-top: 20px;
            font-size: 20px;
            color: $title-color;
        }
    }
}


@media (max-width: 992px){
    .help{
        .assistance{
            img{
                width: 35px;
                height: 35px;
            }
        }
    }
}



@media (max-width: 768px){
    .help{
        .assistance{
            width: 100px;
            &__title{
                font-size: 13px;
            }
        }
    }
}