.promo{
    min-height: calc(100vh - 120px);
    padding: 60px 0px;
    background: url('../images/promo/promo_bg.jpg') center (center/cover)  no-repeat;
    overflow: hidden;
    &__info{
        margin-top: 200px;
    }
    &__title{
        font-size: 44px;
        color: $main-color;
        max-width: 345px;
        line-height: 1.295;
        margin-bottom: 30px;
    }
    &__descr{
        font-family: 'Arial';
        font-size: 15px;
        color: #fff;
        line-height: 1.6;
        max-width: 440px;
        margin-bottom: 45px;
    }
    &__btn{
        transition: .2s background-color;
        &:hover{
            background-color: #fff;
        }
    }
    &__img{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}


@media (max-width: 992px){
    .promo{
        &__title{
            font-size: 29px;
        }
    }
}

@media (max-width: 768px){
    .promo{
        padding-top: 0px;
        &__info{
            max-width: 330px;        
        }
        &__title{
            font-size: 20px;
        }
    }
}

@media (max-width: 576px){
    .promo{
        &__info{
            max-width: 200px;
        }
        &__title{
            font-size: 17px;
        }
        &__descr{
            font-size: 14px;
        }
    }
}

