@import 'base/reset';
@import 'base/variables';
@import 'base/mixins';
@import 'base/icons';



body{
    font-family: 'Georgia';
    
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

@import 'blocks/promo.scss';
@import 'blocks/header.scss';
@import 'blocks/button.scss';
@import 'blocks/about';
@import 'blocks/friends';


