@import 'base/reset';
@import 'base/variables';
@import 'base/mixins';
@import 'base/icons';
@import 'libs/slick';



body{
    font-family: 'Georgia', sans-serif;
    
}

svg:not(:root) {
    overflow: visible !important;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

@import 'blocks/promo.scss';
@import 'blocks/header.scss';
@import 'blocks/button.scss';
@import 'blocks/about';
@import 'blocks/title';
@import 'blocks/friends';
@import 'blocks/help';
@import 'blocks/donation';
@import 'blocks/footer';


